h2 {
    font-family: 'Arial', sans-serif; /* Change the font to your preferred font family */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 20px; /* Add some spacing below the heading */
  }

  /* Style for the login form */
.login-form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for form elements */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style for form inputs */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the Login button */
  .btn-primary {
    background-color: #00a2ff; /* Light blue background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0074ad; /* Darker blue on hover */
  }

  h2 {
    font-family: 'Arial', sans-serif; /* Change the font to your preferred font family */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 20px; /* Add some spacing below the heading */
  }
  